.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

#delete-form {
    display: inline;
}

.box-shadow{
  box-shadow: 10px 10px 35px #7c7b7b;
}

.box-shadow-table{
  box-shadow: 7px 7px 15px #888888;
}
